<h1 class="text-center text-panda">Create Receipt</h1>
<hr class="bg-panda w-50 hr-2" />

<form class="mx-auto w-50" method="post" action="/receipts/create">
    <div class="form-group">
        <label for="fee" class="text-panda">Fee</label>
        <input type="text" class="form-control" id="fee" placeholder="Fee..." name="Fee">
    </div>
    <hr class="bg-panda w-50 hr-2"/>
    <div class="button-holder mt-4 d-flex justify-content-center">
        <button type="submit" runat="server" class="btn bg-panda text-white">Create</button>
    </div>
</form>